{% extends "layout.html" %}
{% block title %}
Alerts
{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
<h4 class="ui red horizontal divider header">
  <i class="bomb icon"></i>
  通知
</h4>
<div class="ui red segment">
  {% if alerts|length == 0 %}
  <p>通知はありません</p>
  {% else %}
  <div class="ui comments">
  {% for alert in alerts %}
    <div class="comment">
      <a class="avatar">
      <img title="{{ alert.TopicArn }}"
          src="//www.gravatar.com/avatar/{{ alert.TopicArnHash }}?d=identicon">
      </a>
      <div class="content">
        <a class="author">{{ alert.Subject }}</a>
        <div class="metadata">
        <div class="date">{{ alert.Timestamp | replace('T', '  ') | replace('Z', '') }}</div>
        </div>
        <div class="text">
        {{ alert.Message }}
        </div>
        {% if session.is_admin %}
        <div class="actions">
          <a onclick="delete_alert('{{ alert._id }}')">
            <i class="trash icon"></i>
            Delete
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
</div>
<div class="ui small delete modal">
  <div class="header">アラートを削除してよろしいですか？</div>
  <div class="actions">
    <div class="ui approve primary button">はい</div>
    <div class="ui cancel button">いいえ</div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
{% endblock %}
