{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block style %}
<link rel="stylesheet" href="//oss.maxcdn.com/fullcalendar/2.0.1/fullcalendar.css"/>
{% endblock %}
{% block body %}
<h4 class="ui teal horizontal divider header">
  <i class="phone icon"></i>
  本日の当番
</h4>

<div class="ui teal segment">
  <h4 class="ui left floated header">
    {{ next_user.username }}
  </h4>
</div>

<h4 class="ui green horizontal divider header">
  <i class="calendar icon"></i>
  今月の当番表
</h4>

<div class="ui green segment">
  <div id='calendar'></div>
</div>

{% endblock %}
{% block script %}
<script src="//oss.maxcdn.com/momentjs/2.10.6/moment.min.js"></script>
<script src="//oss.maxcdn.com/fullcalendar/2.0.1/fullcalendar.min.js"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
