{% extends "layout.html" %}
{% block title %}
Schedule
{% endblock %}
{% block style %}
<link rel="stylesheet" href="//oss.maxcdn.com/fullcalendar/2.0.1/fullcalendar.css"/>
{% endblock %}
{% block body %}
<button class="ui basic blue button" onclick="add_schedule()">
  <i class="add icon"></i>
  予定の追加
</button>
<div class="ui green segment">
  <div id='calendar'></div>
</div>
<!-- <table class="ui violet striped table">
  <thead>
    <tr>
      <th>名前</th>
      <th>開始日</th>
      <th>終了日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if schedules|length == 0 %}
    <tr>
      <td>予定はありません</td>
    </tr>
    {% else %}
    {% for schedule in schedules %}
    <tr title="{{ schedule.memo }}">
      <td>{{ schedule.user }}</td>
      <td>{{ schedule.from_date }}</td>
      <td>{{ schedule.to_date }}</td>
      <td>
        <a class="ui icon red button" onclick="delete_schedule('{{ schedule._id }}')">
          <i class="trash icon"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% if session.is_admin %}
{% endif %} -->
<div class="ui small add modal">
  <div class="header">予定を追加</div>
  <div class="content">
    <form class="ui form" action="/schedule" method="post">
      <div class="two fields">
        <div class="field">
          <label>開始日</label>
          <input type="date" name="from_date">
        </div>
        <div class="field">
          <label>終了日</label>
          <input type="date" name="to_date">
        </div>
      </div>
      <div class="field">
        <label>メモ</label>
        <input type="text" name="memo" placeholder="memo">
      </div>
      <button class="ui primary button" type="submit">保存</button>
    </form>
  </div>
</div>
<div class="ui small delete modal">
  <div class="header">予定を削除してよろしいですか？</div>
  <div class="actions">
    <div class="ui approve primary button">はい</div>
    <div class="ui cancel button">いいえ</div>
  </div>
</div>
{% endblock %}
{% block script %}
{% if session.is_admin %}
<script src="//oss.maxcdn.com/momentjs/2.10.6/moment.min.js"></script>
<script src="//oss.maxcdn.com/fullcalendar/2.0.1/fullcalendar.min.js"></script>
<script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endif %}
{% endblock %}
